<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Inscription</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Bootstrap Icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Google fonts-->
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
		rel="stylesheet" type="text/css" />
	<!-- SimpleLightbox plugin CSS-->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link th:href="@{dist/css/styles.css}" rel="stylesheet" />
</head>
<body>
	<header class="masthead">
		<br/> <br/>
	<h3>Liste des quizzs</h3>
	<br />
	<br />
	<div class="container">

		<br />
<!--		<div class="container">-->
<!--	<form th:action="@{/users/addOrUpdate}" method="POST"-->
<!--		 th:object="${userForm}">-->
<!--		ID: <input type="text" th:field="*{userId}" class="form-control"-->
<!--			readonly="readonly" /><br/> -->
			
<!--			First Name:<input type="text" th:field="*{nom}"-->
<!--			class="form-control" />-->
<!--		<div class="alert alert-warning"-->
<!--			th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></div><br/>-->
<!--		Last Name:<input type="text" th:field="*{prenom}" class="form-control" />-->
<!--		<div class="alert alert-warning"-->
<!--			th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></div><br/>-->
<!--		Email:<input type="text" th:field="*{email}" class="form-control" />-->
<!--		<div class="alert alert-warning" th:if="${#fields.hasErrors('email')}"-->
<!--			th:errors="*{email}"></div><br/>-->
<!--		Password:<input type="text" th:field="*{password}" class="form-control" />-->
<!--		<div class="alert alert-warning"-->
<!--			th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div><br/>-->
<!--			Admin: <input type="checkbox" th:field="*{admin}" checked="*{admin}"classe="form-control" /><br/>-->
<!--		<button type="submit" class="btn btn-primary">valider</button>-->

<!--	</form>-->
<!--	<div th:if="${Message}" th:text="${Message}" style="color: red">-->
<!--	</div>-->
<!--	</div>-->
		<br />

		<div class="container">
			<table class="table table-striped">
				<tr>
<!--					<th>Id</th>-->
					<th>Nom Quizz</th>
					
<!--					<th>Actions</th>-->
				</tr>
				<tr th:each="q:${quizz}">
					<td th:text="${q.quizzName}"></td>
<!--					<td th:text="${u.nom}"></td>-->
<!--					<td th:text="${u.email}"></td>-->
<!--				<td><input type="checkbox" th:checked="${u.admin}"/></td>-->
					<td><a th:href="@{/quizz/questions/{id}(id=${q.quizzId})}" class="btn btn-danger">selectionner</a> 
<!--					th:href="@{/users/update/{id}(id=${u.userId})}" class="btn btn-warning">Update</a></td>-->

					
				</tr>
			</table>

		</div>
	</div>
	</header>
</body>

</html>