<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/%22%3E">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>

	<h3>Liste des réponses</h3>
	<br />
	<br />
	<div class="container">

<form th:action="@{/quizz/questions/reponses/verfier}" method="POST"
		 modelAttribute="reponse">
		
	

	</form>
		<br />
	
		<div class="container">
			<table class="table table-striped">
				<tr>
					<!--					<th>Id</th>-->
					<th>Réponses</th>

					<!--					<th>Actions</th>-->
				</tr>
				<tr th:each="r:${reponse}">
					<td th:text="${r.reponse}"  path="isCorrect">


					</td>

					<td><input  type="radio" name="reponse" th:id="${r.reponseId}"></td>



				</tr>
<!--					<button type="submit" class="btn btn-primary">valider</button>-->
			</table>
			
			
	<div><a th:href="@{/quizz/questions/reponses/verfier}" class="btn btn-danger">valider</a> </div>
		</div>
	</div>
</body>

</html>